.home-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0%;
    margin: auto;
    width: 100vw;
}
.swiper {
  width: 100vw;
  height: 100vh;
}
.swiperWrapper{
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #8c1414;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide>img{
  width: 100%;
  object-fit: cover;
}
.home-content-wrapper{
  
}

