.navbar-wrapper {
  position: fixed;
  z-index: 9999;
  top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.logo{
  width:auto ;
  height: 50px;
}
.desk-nav-right {
  position: relative;
  right: 0%;
  width: 30%;
  left: -2%;
}
.desk-nav-right > img {
  width: 70%;
  height: 125px;
}
.desk-nav-right-content {
  position: absolute;
  right: 38%;
  top: 22%;
  text-decoration: none;
}
.desk-nav-right-content > div {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.desk-left-nav {
  position: relative;
  left: 9%;
  width: 70%;
  height: 200px;
}
.desk-left-nav > img {
  width: 100%;
  height: 100px;
}
.desk-left-nav-content {
  position: absolute;
  top: 12%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.desk-left-nav-content-links {
  display: flex;
  align-items: center;
  padding-right: 20%;
}
.navbar-mob {
  display: none;
}
@media screen and (max-width: 1400px) {
  .desk-nav-right-content {
    right: 33%;
  }
}
@media screen and (max-width: 1200px) {
  .desk-nav-right-content > div {
    font-size: 13px;
  }
}
@media screen and (max-width: 1050px) {
  .desk-nav-right {
    display: none;
  }
  .desk-left-nav {
    left: 7%;

    width: 85%;
  }
  .desk-left-nav-content-links {
    padding-right: 20px;
  }
}
@media screen and (max-width: 680px) {
  .desk-left-nav-content-links {
    display: none;
  }
  .navbar-mob {
    display: flex;
  }
  .desk-left-nav-content {
    width: 90%;
    padding: 0px 0px 0px 5%;
  }
  .navbar-mob {
    display: flex;
    flex-direction: column;
  }
  .menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 13%;
    left: -0.5%;
    width: 100%;
    gap: 1px;
  }
  .menu-div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 85%;
    height: 50px;
  }
}
